pipeline/PL_DATA_DS_SQL_Ticket_To_DS_ASQL_CinemaTickets.json
{
	"name": "PL_DATA_DS_SQL_Ticket_To_DS_ASQL_CinemaTickets",
	"properties": {
		"activities": [
			{
				"name": "ACT_GEN_LKP_OldWaterMark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_WaterMark",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ACT_GEN_LKP_NewWaterMark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select MAX(TransactionDt) as NewWatermarkvalue from dbo.Tickets;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_Tickets",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ACT_MT_Incremental_Copy_Tickets_To_CinemaTickets",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ACT_GEN_LKP_NewWaterMark",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ACT_GEN_LKP_OldWaterMark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select * from Tickets where TransactionDt > '@{activity('ACT_GEN_LKP_OldWaterMark').output.firstRow.WatermarkValue}' and TransactionDt <= '@{activity('ACT_GEN_LKP_NewWaterMark').output.firstRow.NewWatermarkvalue}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE stg.cinema_tickets",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CinemaCode",
									"type": "nvarchar"
								},
								"sink": {
									"name": "cinema_code",
									"type": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CinemaName",
									"type": "nvarchar"
								},
								"sink": {
									"name": "cinema_name",
									"type": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MovieId",
									"type": "int",
									"precision": 10
								},
								"sink": {
									"name": "movie_id",
									"type": "int",
									"precision": 10
								}
							},
							{
								"source": {
									"name": "TicketCount",
									"type": "int",
									"precision": 10
								},
								"sink": {
									"name": "ticket_count",
									"type": "int",
									"precision": 10
								}
							},
							{
								"source": {
									"name": "TicketPrice",
									"type": "decimal",
									"scale": 1,
									"precision": 4
								},
								"sink": {
									"name": "ticket_price",
									"type": "decimal",
									"scale": 1,
									"precision": 4
								}
							},
							{
								"source": {
									"name": "TransactionId",
									"type": "nvarchar"
								},
								"sink": {
									"name": "transaction_id",
									"type": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TransactionDt",
									"type": "datetime",
									"scale": 3,
									"precision": 23
								},
								"sink": {
									"name": "transaction_date",
									"type": "datetime",
									"scale": 3,
									"precision": 23
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_SQL_Tickets",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ASQL_CinemaTickets",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "ACT_GEN_SPRC_Write_Watermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_MT_Incremental_Copy_Tickets_To_CinemaTickets",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_write_watermark]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@{activity('ACT_GEN_LKP_NewWaterMark').output.firstRow.NewWatermarkvalue}",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": {
								"value": "@{activity('ACT_GEN_LKP_OldWaterMark').output.firstRow.TableName}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_Local",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ACT_GEN_SPRC_Populate_tCinema",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_GEN_SPRC_Write_Watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "dbo.spPopulateCinema"
				},
				"linkedServiceName": {
					"referenceName": "LS_ASQL_Movies",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ACT_GEN_SPRC_Populate_tCinemaTickets",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_GEN_SPRC_Populate_tCinema",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulateCinemaTickets]"
				},
				"linkedServiceName": {
					"referenceName": "LS_ASQL_Movies",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-06-05T06:38:37Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}